<div class="container">
  <div class="row mt-5">
    <div class="col mx-auto">
      <% @users.each do |user| %>
        <p><%= link_to "#{user.name}", user_path(user) %></p>
      <% end %>
    </div>
  </div>
</div>