/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
  background-color: #F4F5F7;
}

 .field {
   margin-bottom: 20px;
 }

 .debug_dump {
  margin-top: 45px;
  border: solid 3px #6091d3;
  padding: 15px;
  background-color: azure;
}

#footer {
  text-align: center;
  font-size: 13px;
  margin-top: auto;
}

// message

#head {
  text-align: center;
  color: white;
  background-color: #273246;
  padding: 10px;
}

td {
  border: none;
}

.chat-left {
  float: left;
  position: relative;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}

.chat-right {
  float: right;
  position: relative;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}


